body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#myDIV {
  margin-top: 0px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
  a {
      color: #00008b;
      text-decoration: none;
    }
    
    a:visited {
      color: #636;
    }
    
    a:hover,
    a:active,
    a:focus {
      color: #c33;
      background-color: #ff0;
    }
    
    .table a {
      display: block;
    }
  }
  .hexagon {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #64C7CC;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #64C7CC;
  }
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #64C7CC;
  }
  .hexagonbl {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #BCD8D8;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagonbl:before,
  .hexagonbl:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagonbl:before {
    bottom: 100%;
    border-bottom: 86.60px solid #BCD8D8;
  }
  .hexagonbl:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #BCD8D8;
  }
  .hexagongrn {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #a9cbb7;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagongrn:before,
  .hexagongrn:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagongrn:before {
    bottom: 100%;
    border-bottom: 86.60px solid #a9cbb7;
  }
  .hexagongrn:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #a9cbb7;
  }
  .hexagongl {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #e4b363;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagongl:before,
  .hexagongl:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagongl:before {
    bottom: 100%;
    border-bottom: 86.60px solid #e4b363;
  }
  .hexagongl:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #e4b363;
  }
  .hexagongr {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #ebe3dd;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagongr:before,
  .hexagongr:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagongr:before {
    bottom: 100%;
    border-bottom: 86.60px solid #ebe3dd;
  }
  .hexagongr:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #ebe3dd;
  }
  .hexagonbj {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #efecca;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagonbj:before,
  .hexagonbj:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagonbj:before {
    bottom: 100%;
    border-bottom: 86.60px solid #efecca;
  }
  .hexagonbj:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #efecca;
  }
  .hexagonwt {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #ffffff;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagonwt:before,
  .hexagonwt:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagonwt:before {
    bottom: 100%;
    border-bottom: 86.60px solid #ffffff;
  }
  .hexagonwt:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #ffffff;
  }
  .hexagonrd {
    position: absolute;
    width: 300px;
    height: 173.21px;
    background-color: #df8969;
    margin: 86.60px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    border-left: solid 0px #333333;
    border-right: solid 0px #333333;
    transform: rotate(90deg);
    z-index: -1;
  }
  .hexagonrd:before,
  .hexagonrd:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  .hexagonrd:before {
    bottom: 100%;
    border-bottom: 86.60px solid #df8969;
  }
  .hexagonrd:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #df8969;
  }
  table {
    table-layout: fixed;
    position: relative;
    top: 0px;
    border-collapse: collapse;
    height: 250px;
    width: 250px;
    transform: rotate(-90deg);
    z-index: 1;
    text-align: center;
  }
  table,
  td,
  th {
    border: 1px grey;
  }
  td {
    width: 25%;
    align: center;
  }
  message {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    background: #de2424;
    padding: 0px 3px 5px 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;
  }
message:first-child {
    background: blue;
  }
message:hover {
    background: blue;
    text-decoration: none;
  }
message:first-child:hover {
    background: red;
  }
